@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  transform-style: preserve-3d;
  transition: all 0.9s cubic-bezier(.34,1.56,.64,1);
}

.front{
  backface-visibility: hidden;
  transition: all 0.9s cubic-bezier(.34,1.56,.64,1);
}

.back{
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: all 0.9s cubic-bezier(.34,1.56,.64,1);
}

.card:hover .front{
  transform: rotateY(180deg);
}

.card:hover .back{
  transform: rotateY(360deg);
}

.parent{
  perspective: 5000px;
}

.redcard{
  background-color: #e7e7e7;
  background-color: #DB4437;
  background: linear-gradient(
    76deg,
    #e7e7e7 -20%,
    #DB4437 65%
  );
}

.bluecard{
  background-color: #e7e7e7;
  background-color: #DB4437;
  background: linear-gradient(
    76deg,
    #e7e7e7 -20%,
    #4285F4 65%
  );
}

.greencard{
  background-color: #e7e7e7;
  background-color: #DB4437;
  background: linear-gradient(
    76deg,
    #e7e7e7 -20%,
    #0F9D58 65%
  );
}

.yellowcard{
  background-color: #e7e7e7;
  background-color: #DB4437;
  background: linear-gradient(
    76deg,
    #e7e7e7 -20%,
    #FFBA00 65%
  );
}
